<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous777</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main class="container mx-auto mt-28 px-5">
      <div class="flex w-full justify-center">
        <div class="w-1/2">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
